.contato {
    display: flex;
    align-items: center;
    gap: 10px; /* espaço entre telefone, email e botão */
}
.bi-person-circle{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.contato button{
    display: flex;
    align-items: center;
    gap: 5px;
}

.menu {
    display: flex;           /* coloca título e botão na mesma linha */
    align-items: center;     /* alinha verticalmente */
    gap: 45px;               /* espaço entre título e botão */
}

.menu a button {
    border: none;
    background: none; 
    cursor: pointer; 
    font-size: medium;
}

.campo-busca {
    width: 250px;
    padding: 8px 12px;
    border-radius: 15px;
    border: 1px solid #ccc;
    font-size: 16px;
}
.botao_entrar i {
    margin-right: 8px; 
    vertical-align: middle ; 
    font-size: 18px;
    border-radius: 15px;
    border: 1px;
}
.titulo {
    margin: 0;
}

button{
    background-color: rgba(255, 253, 253, 0.4); /* Fundo escuro semitransparente */
}


body {
    background-color: #f5f5f5;
}

