.contato {
    display: flex;
    align-items: center;
    gap: 10px; /* espaço entre telefone, email e botão */
}
.bi-person-circle{
    display: flex;
    align-items: center;
    margin-left: 999px;
}

.contato button{
    display: flex;
    align-items: right;
}

.header {
    display: flex;           /* coloca título e botão na mesma linha */
    align-items: center;     /* alinha verticalmente */
    gap: 10px;               /* espaço entre título e botão */
}

.header a button {
    margin-left: auto;       /* empurra o botão para a direita */
}

.titulo {
    margin: 0;
}

button{
    background-color: rgba(255, 253, 253, 0.4); /* Fundo escuro semitransparente */
}


body {
    background-color: #f5f5f5;
}

