.container {
      display: flex;
      flex-wrap: wrap;      
      gap: 10px;       
      align-items: center;     
      width: 100%;
    }


.section-title-small {
    width: 150%;
    margin-left: -30px;
    background-color: #111;
    padding-bottom: 40px;
    padding-top: 40px;
}

.section-title-small h2 {
    color: #D4AF37;
    margin-left: 90px;
}

.section-title-small h4 {
    color: #D4AF37;
    margin-left: 90px;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.col img {
    width: 25dvw;
    height: 80dvh;
    border-radius: 8px;
}

body {
    font-family: 'Inter', sans-serif;
    background: #f5f5f5;
    padding: 20px;
}

.card {
    width: 320px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    overflow: hidden;
}

.card img {
    width: 100%;
    height: auto;
    display: block;
}

.discount {
    position: absolute;
    background: #e63946;
    color: #fff;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 8px 0 8px 0;
    font-weight: bold;
}

.card-header {
    position: relative;
}

.card-body {
    padding: 15px;
}

.brand {
    font-size: 12px;
    color: #777;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.title {
    font-size: 16px;
    font-weight: bold;
    margin: 5px 0 10px;
}

.tag {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 12px;
    padding: 4px 10px;
    margin-bottom: 10px;
}

.price {
    font-size: 20px;
    font-weight: bold;
    color: #111;
}

.old-price {
    text-decoration: line-through;
    color: #888;
    font-size: 14px;
    margin-left: 8px;
}

.installments {
    color: #2a9d8f;
    font-size: 14px;
    margin: 8px 0;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background: #111;
    color: #f4a261;
    font-weight: bold;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #333;
}